@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  background-color: #feebed;
}

/*HEADER*/
.logo {
  height: 150px;
}
header {
  background-color: #965a64;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
}
.navLetra {
  color: white;
  display: flex;
  justify-content: space-around;
}
.navLetra:hover {
  font-weight: bold;
  color: #feebed;
  font-size: 2rem;
}
/*CAROUSEL*/
.imgCarousel {
  height: 700x;
  object-fit: cover;
}
/*FOOTER*/

.textFooter {
  color: #965a64;
  font-size: 1rem;
}
.textFooter:hover {
  color: white;
  font-size: 1.3rem;
  background-color: #965a64;
}
