@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  background-color: #feebed;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HEADER*/
.logo {
  height: 150px;
}
header {
  background-color: #e295a2;
  border-radius: 5px;
  font-size: 2rem;
  width: 100%;
  font-weight: bold;
}
.navLetra {
  color: white;
  display: flex;
  justify-content: space-around;
}
.navLetra:hover {
  font-weight: bold;
  color: #feebed;
  font-size: 2.2rem;
}
/*CAROUSEL*/
.imgCarousel {
  height: 700x;
  object-fit: cover;
}
/*LISTONHOME*/
.listonHome {
  width: 100%;
  background-color: hsl(349, 37%, 61%);
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.listonHome:hover {
  background-color: hsl(349, 37%, 58%);
}

@media (min-width: 380px) and (max-width: 700px) {
  .listonHome {
    font-size: 0.7rem;
  }
}

/*FOOTER*/

.textFooter {
  color: #e295a2;
  font-size: 1rem;
}
.textFooter:hover {
  color: white;
  font-size: 1.3rem;
  background-color: #e295a2;
}
/*CARDSHOME*/

.card {
  height: 399px;
  margin-top: 20px;
  border: #e295a2 solid 5px;
}

.card-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #965a64;
  display: flex;
  justify-content: center;
}
.botonColor {
  font-size: 1.5rem;
  border: 3px solid #e295a2;
  background-color: #e295a2;
  color: white;
  text-transform: uppercase;
}
.botonColor:hover {
  color: #e295a2;
  background-color: #feebed;
  background-repeat: no-repeat;
}
.cardConjuntos {
  background-image: url(../img/foto-conjunto.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.cardPoleras {
  background-image: url(../img/foto-polera.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.cardVestidos {
  background-image: url(../img/foto-vestido.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.cardChaquetas {
  background-image: url(../img/foto-invierno.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
/*PRODUCTOS CARDS*/

.tituloPro {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  border: #e295a2 solid 3px;
  background-color: #e295a2;
  width: 100%;
  border-radius: 5px;
}

.card-text {
  font-size: 2rem;
  color: #e295a2;
}
.imgProducto {
  height: 400px;
  margin-bottom: 10px;
}
.cardProductos {
  border: white solid 3px;
  border-radius: 5px;
}
/*QUIENES SOMOS*/
.imgQuienesSomos {
  width: 500px;
  height: 600px;
  border-radius: 5px;
}
.padreQs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}
.textQs {
  flex: 1;
  margin-right: 20px;
  font-size: 1.2rem;
}
.contQs {
  display: flex;
  flex-direction: column;
}

.destacar {
  color: #e96077;
  font-size: 1.3rem;
  font-weight: bolder;
}
@media (max-width: 1280px) {
  .padreQs {
    flex-direction: column;
    text-align: center;
  }
  .imgQuienesSomos {
    width: 100%;
    height: auto;
  }
}
