@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  background-color: #feebed;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HEADER*/
.logo {
  height: 150px;
}
header {
  background-color: #e295a2;
  border-radius: 5px;
  font-size: 2rem;
  width: 100%;
  font-weight: bold;
}
.navLetra {
  color: white;
}
.navLetra:hover {
  font-weight: bold;
  color: #feebed;
  font-size: 2.2rem;
}
/*CAROUSEL*/
.imgCarousel {
  height: 700x;
  object-fit: cover;
}
/*LISTONHOME*/
.listonHome {
  width: 100%;
  background-color: hsl(349, 37%, 61%);
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}
.listonHome:hover {
  background-color: hsl(349, 37%, 58%);
}

@media (min-width: 380px) and (max-width: 700px) {
  .listonHome {
    font-size: 0.7rem;
  }
}

/*FOOTER*/

.textFooter {
  color: #e295a2;
  font-size: 1rem;
}
.textFooter:hover {
  color: white;
  font-size: 1.3rem;
  background-color: #e295a2;
}
/*CARDSHOME*/

.card {
  margin-top: 20px;
}

.card-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #e295a2;
  display: flex;
  justify-content: center;
}
.botonColor {
  font-size: 1.5rem;
  border: 3px solid #e295a2;
  background-color: #e295a2;
  color: white;
  text-transform: uppercase;
}
.botonColor:hover {
  color: #e295a2;
  background-color: #feebed;
  background-repeat: no-repeat;
}
@media (max-width: 946px) {
  .card-title {
    font-size: 16px;
  }
  .botonColor {
    font-size: 12px;
  }
  @media (max-width: 578px) {
    .col-xl-3 {
      flex-basis: 50%;
    }
    .imgHome {
      width: 100%;
    }
  }
}
/*PRODUCTOS CARDS*/

.tituloPro {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  border: #e295a2 solid 3px;
  background-color: #e295a2;
  width: 100%;
  border-radius: 5px;
}

.card-text {
  font-size: 2rem;
  color: #e295a2;
  font-weight: bold;
}
.imgProducto {
  height: 100%;
  margin-bottom: 10px;
}
.cardProductos {
  border: white solid 3px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
}
.cardProductos:hover {
  transform: scale(1.05);
  border: #e295a2 solid 1px;
}

.btnPro {
  font-size: 1rem;
}
@media (max-width: 579px) {
  .col-sm-6 {
    flex-basis: 50%;
  }
  .cardProductos {
    height: 50%;
    margin-top: 10px;
  }
  .imgProducto {
    height: 100%;
  }
  .textProductos {
    font-size: 15px;
  }
  .btnPro {
    font-size: 0.6rem;
    width: 100%;
  }
}
/*QUIENES SOMOS*/
.imgQuienesSomos {
  width: 500px;
  height: 600px;
  border-radius: 5px;
}
.padreQs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}
.textQs {
  flex: 1;
  margin-right: 20px;
  font-size: 1.2rem;
}
.contQs {
  display: flex;
  flex-direction: column;
}

.destacar {
  color: #e96077;
  font-size: 1.3rem;
  font-weight: bolder;
}
@media (max-width: 1280px) {
  .padreQs {
    flex-direction: column;
    text-align: center;
  }
  .imgQuienesSomos {
    width: 100%;
    height: auto;
  }
}
/*BLOG*/
.textBlog {
  font-size: 1.3rem;
}
.contBlog {
  text-align: center;
  margin-top: 20px;
}
/*CONTACTOS*/
.imgRedes {
  width: 5%;
  height: 5%;
  margin-top: 20px;
}
.contContacto {
  border: 3px solid #e295a2;
  background-color: white;
  margin: 20px;
  flex: 1;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.5rem;
}
input {
  display: block;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
}
.contSoporte {
  background-color: white;
}
.contParrafo {
  font-size: 20px;
}
