@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
body {
  background-color: #feebed;
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
}
.logo {
  height: 200px;
}
header {
  background-color: #965a64;
  border-radius: 5px;
}
.navLetra {
  color: white;
  display: flex;
  justify-content: space-around;
}
.navLetra:hover {
  font-weight: bold;
  color: #feebed;
  font-size: 3.5rem;
}
