@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  background-color: #feebed;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*HEADER*/
.logo {
  height: 150px;
}
header {
  background-color: #965a64;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 100%;
}
.navLetra {
  color: white;
  display: flex;
  justify-content: space-around;
}
.navLetra:hover {
  font-weight: bold;
  color: #feebed;
  font-size: 2rem;
}
/*CAROUSEL*/
.imgCarousel {
  height: 700x;
  object-fit: cover;
}
/*FOOTER*/

.textFooter {
  color: #965a64;
  font-size: 1rem;
}
.textFooter:hover {
  color: white;
  font-size: 1.3rem;
  background-color: #965a64;
}
/*CARDS*/

.card {
  height: 399px;
  margin-top: 20px;
  border: #965a64 solid 5px;
}

.card-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #965a64;
  display: flex;
  justify-content: center;
}
.botonColor {
  font-size: 1.5rem;
  border: 3px solid #965a64;
  background-color: #965a64;
  color: white;
  text-transform: uppercase;
}
.botonColor:hover {
  color: #965a64;
  background-color: #feebed;
  background-repeat: no-repeat;
}
.cardConjuntos {
  background-image: url(../img/foto-conjunto.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.cardPoleras {
  background-image: url(../img/foto-polera.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.cardVestidos {
  background-image: url(../img/foto-vestido.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.cardChaquetas {
  background-image: url(../img/foto-invierno.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
/*PRODUCTOS CARDS*/

.tituloPro {
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  border: #965a64 solid 3px;
  background-color: #965a64;
  width: 100%;
  border-radius: 5px;
}

.card-text {
  font-size: 2rem;
  color: #965a64;
}
.imgProducto {
  height: 400px;
  margin-bottom: 10px;
}
.cardProductos {
  border: #965a64 solid 3px;
  border-radius: 5px;
}
