@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  font-family: "Playfair Display", serif;
  background-color: #feebed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: linear-gradient(to left, #e295a2, #feebed);
  border-radius: 5px;
  font-size: 2rem;
  width: 100%;
  font-weight: bold;
}
header .logo {
  height: 80px;
  border-radius: 50%;
}
@media (max-width: 989px) {
  header .logo {
    height: 80px;
  }
}
header .navLetra {
  color: white;
  transition: 0.5s ease;
  font-size: 1.5rem;
  line-height: 1.7rem;
}
header .navLetra:hover {
  font-weight: bold;
  color: #feebed;
  font-size: 1.8rem;
  border-bottom: 2px solid #feebed;
}
@media (max-width: 992px) {
  header .navLetra {
    color: #e295a2;
    font-weight: bolder;
  }
}

.textFooter {
  color: #e295a2;
  font-size: 1rem;
}
.textFooter:hover {
  color: white;
  font-size: 1.3rem;
  background-color: #e295a2;
}

.cont404 {
  background-color: #e295a2;
  width: 600px;
  height: 600px;
  text-align: center;
}
.cont404 h1 {
  color: #feebed;
  font-size: 10rem;
  font-weight: bold;
}
.cont404 p {
  font-size: 1.5rem;
  color: #feebed;
}
.cont404 .boton404 {
  background-color: #e295a2;
  display: inline-block;
  width: 300px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}
.cont404 .boton404:hover {
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .cont404 {
    width: 300px;
    height: 400px;
  }
  .cont404 h1 {
    font-size: 5rem;
  }
  .cont404 .boton404 {
    width: 150px;
    font-size: 0.5rem;
  }
}
.nav-item__search {
  width: 300px;
  height: 40px;
  line-height: 4.5rem;
  border: 5px solid white;
}

.form-control {
  margin-top: 0.2rem;
  position: relative;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: white;
  border: 3px solid white;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-item__search:focus {
  border: 0.2rem solid white;
}

.cont__search {
  position: relative;
  margin-left: 5rem;
}

.form__label {
  font-size: 1.2rem;
  position: absolute;
  top: 0.5rem;
  z-index: 1;
  color: var(--color-company);
  transition: all 300ms ease-in-out;
  pointer-events: none;
  color: #e295a2;
}

.nav-item__search:focus ~ label,
.form__input:not(:placeholder-shown) ~ label {
  top: -2.3rem;
  left: 0;
  z-index: 1;
  font-size: 1.3rem;
  color: white;
}

.nav-item__search::-webkit-input-placeholder {
  color: transparent;
}

.cart-container {
  border: 3px solid white;
  border-radius: 5px;
  width: 25%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  display: none;
  background-color: white;
}

.cart-container--visible {
  display: block;
}

.navbar__toggler {
  text-align: center;
  position: relative;
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  background-color: #e295a2;
  border: solid 3px #e295a2;
  border-radius: 10px;
  color: #feebed;
  box-shadow: 0 10px 10px -5px rgba(255, 255, 255, 0.8);
  text-align: center;
}

.fa-bag-shopping {
  font-size: 2.5rem;
}

.cart-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  padding-bottom: 0.3rem;
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  color: #e295a2;
  border: 0;
}

.cart-cont__img {
  display: block;
  text-align: center;
  padding-top: 250px;
}

.cart__img {
  width: auto;
  opacity: 0.5;
}

.cart__text {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: gray;
}

.listonHome .textListon {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  padding-top: 0.3rem;
}

.nav-btn {
  position: absolute;
  background-color: transparent;
  right: 10px;
  top: 8px;
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  line-height: 0.7;
}

.icon__buscar {
  font-size: 1.7rem;
  color: #e295a2;
}

.botonColor, .botonCont, .btnPro {
  font-size: 1.5rem;
  border: 3px solid #e295a2;
  background-color: #e295a2;
  color: white;
  text-transform: uppercase;
}
.botonColor:hover, .botonCont:hover, .btnPro:hover {
  color: white;
  background-color: rgb(250, 182, 194);
}

.btnPro {
  font-size: 1rem;
  width: 100%;
}

.tituloPro {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e295a2;
  width: 100%;
  border-radius: 5px;
  padding-bottom: 0.2rem;
  line-height: 1;
}

.cardProductos {
  border: white solid 3px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
  margin: 10px;
  width: 100%;
}
.cardProductos:hover {
  transform: scale(1.05);
  border: #e295a2 solid 1px;
}
.cardProductos .card-text {
  color: #e295a2;
  font-size: 2rem;
  font-weight: bold;
}
.cardProductos .imgProducto {
  height: 100%;
  margin-bottom: 10px;
}
.cardProductos .textProductos {
  font-size: 1.2rem;
}
.cardProductos .textProductos:hover {
  color: #e295a2;
}

@media (max-width: 576px) {
  .col-sm-6 {
    flex-basis: 50%;
  }
  .cardProductos {
    height: 50%;
    margin-top: 10px;
  }
  .cardProductos .textProductos {
    font-size: 14px;
  }
  .btnPro {
    font-size: 0.6rem;
    width: 100%;
  }
}
.cardProductos {
  position: relative;
}
.cardProductos:hover .contenedor__tallas {
  opacity: 0.8;
}

.contenedor__tallas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  background-color: white;
  height: 70px;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 120px;
  border-radius: 3px;
}

.contenedor__talla {
  width: 40px;
  height: 40px;
  border: 1px solid #e295a2;
  border-radius: 100px;
  text-align: center;
  line-height: 2.2rem;
  font-weight: 500;
  color: #e295a2;
}
.contenedor__talla:hover {
  background-color: #e295a2;
  color: white;
}

@media (max-width: 573px) {
  .contenedor__tallas {
    top: 100px;
  }
  .contenedor__talla {
    font-size: 1rem;
    width: 30px;
    height: 25px;
    line-height: 1.4rem;
  }
}
#cart-container {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #e295a2 #f4f4f4;
}

#cart-container::-webkit-scrollbar {
  width: 8px;
  height: 20px;
}

#cart-container::-webkit-scrollbar-thumb {
  background-color: #e295a2;
}

#cart-container::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

#cart-container .cart-product-img {
  width: 120px;
  height: 140px;
}

.cart-titulo {
  font-size: 1rem;
  color: gray;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.cart-act {
  display: flex;
  flex-direction: row;
  line-height: 0.1;
  margin-top: 2.5rem;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.cart-act:last-child {
  margin-bottom: 6rem;
}

.cart-text {
  font-size: 0.8rem;
  color: gray;
  font-weight: 100;
  padding-bottom: 0.2rem;
}

.cart-icon {
  font-size: 1rem;
  background-color: transparent;
  color: gray;
  font-weight: 300;
}

.cart-btn {
  background-color: white;
  border: 0;
}

.cart-input {
  width: 20%;
  border: 0;
  text-align: center;
  padding-left: 1rem;
}

.cont-finalizar {
  position: fixed;
  bottom: 10px;
  padding-left: 6rem;
}

.cart-finalizar-compra {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e295a2;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #feebed;
  line-height: 1.5;
  border: 1px solid #e295a2;
  border-radius: 5px;
  box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out;
}
.cart-finalizar-compra:hover {
  background-color: #feebed;
  color: #e295a2;
}

@media (max-width: 768px) {
  .cart-container {
    width: 80%;
  }
  .cart-titulo {
    font-size: 0.8rem;
  }
}
@media (max-width: 1280px) {
  .cart-finalizar-compra {
    font-size: 1.1rem;
  }
}
.finalizar-text {
  font-size: 1.5rem;
  color: gray;
  font-weight: 600;
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 10rem;
}

.finalizar-total {
  color: #e295a2;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.contador-carrito {
  position: absolute;
  top: 15%;
  right: 35%;
  color: #e295a2;
  font-size: 1.5rem;
  font-weight: 300;
}

.imgQuienesSomos {
  width: 500px;
  height: 600px;
  border-radius: 5px;
  animation-duration: 2s;
}

.padreQs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.textQs {
  flex: 1;
  margin-right: 20px;
  font-size: 1.2rem;
}

.destacar {
  color: #e96077;
  font-size: 1.3rem;
  font-weight: bold;
  animation-duration: 5s;
}

@media (max-width: 1200px) {
  .imgQuienesSomos {
    width: 100%;
    height: 90%;
  }
  .padreQs {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.contContacto {
  border: 3px solid #e295a2;
  background-color: white;
  margin: 20px;
  flex: 1;
}
.contContacto .contRs {
  margin-top: 20px;
}
.contContacto .contRs .imgRedes {
  margin-top: 5px;
}
.contContacto label {
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.5rem;
}
.contContacto input {
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
}
.contContacto input:hover {
  border: 2px solid #e295a2;
}

.contSoporte {
  background-color: white;
}
.contSoporte .contParrafo {
  font-size: 1.2rem;
}

.botonCont {
  display: block;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  font-weight: bolder;
}

.botonWs {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.imgWs {
  width: 100px;
}

.textBlog {
  font-size: 1.2rem;
}

.contBlog {
  text-align: center;
  margin-top: 20px;
}

.card-text {
  color: #e295a2;
  font-size: 2rem;
  font-weight: bold;
}

.imgCarousel {
  height: 700x;
  object-fit: cover;
}

.listonHome {
  width: 100%;
  background-color: hsl(349, 37%, 61%);
  text-align: center;
}
.listonHome:hover {
  background-color: hsl(349, 37%, 58%);
}
.listonHome .textListon {
  color: white;
  font-size: textMd;
  font-weight: bold;
}
@media (max-width: 576px) {
  .listonHome .textListon {
    font-size: 0.7rem;
  }
}

.card {
  margin-top: 20px;
  border: solid white 1px;
}
.card .card-title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: #e295a2;
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 992px) {
  .card .card-title {
    font-size: 16px;
  }
  .card .botonColor, .card .btnPro, .card .botonCont {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .col-xl-3 {
    flex-basis: 50%;
  }
  .imgHome {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
