@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  font-family: "Playfair Display", serif;
  background-color: #feebed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: linear-gradient(to left, #e295a2, #feebed);
  border-radius: 5px;
  font-size: 2rem;
  width: 100%;
  font-weight: bold;
}
header .logo {
  height: 120px;
  border-radius: 50%;
}
@media (max-width: 989px) {
  header .logo {
    height: 80px;
  }
}
header .navLetra {
  color: white;
  transition: font-weight 0.5s ease, color 0.5s ease, font-size 0.5s ease, border-bottom 0.5s ease;
}
header .navLetra:hover {
  font-weight: bold;
  color: #feebed;
  font-size: 2.2rem;
  border-bottom: 2px solid #feebed;
}
@media (max-width: 992px) {
  header .navLetra {
    color: #e295a2;
    font-weight: bolder;
  }
}

.textFooter {
  color: #e295a2;
  font-size: 1rem;
}
.textFooter:hover {
  color: white;
  font-size: 1.3rem;
  background-color: #e295a2;
}

.cont404 {
  background-color: #e295a2;
  width: 600px;
  height: 600px;
  text-align: center;
}
.cont404 h1 {
  color: #feebed;
  font-size: 10rem;
  font-weight: bold;
}
.cont404 p {
  font-size: 1.5rem;
  color: #feebed;
}
.cont404 .boton404 {
  background-color: #e295a2;
  display: inline-block;
  width: 300px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
}
.cont404 .boton404:hover {
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .cont404 {
    width: 300px;
    height: 400px;
  }
  .cont404 h1 {
    font-size: 5rem;
  }
  .cont404 .boton404 {
    width: 150px;
    font-size: 0.5rem;
  }
}
.botonColor, .botonCont, .btnPro {
  font-size: 1.5rem;
  border: 3px solid #e295a2;
  background-color: #e295a2;
  color: white;
  text-transform: uppercase;
}
.botonColor:hover, .botonCont:hover, .btnPro:hover {
  color: white;
  background-color: rgb(250, 182, 194);
}

.btnPro {
  font-size: 1rem;
  width: 100%;
}

.tituloPro {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: #e295a2 solid 3px;
  background-color: #e295a2;
  width: 100%;
  border-radius: 5px;
}

.cardProductos {
  border: white solid 3px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
  margin: 10px;
  width: 100%;
}
.cardProductos:hover {
  transform: scale(1.05);
  border: #e295a2 solid 1px;
}
.cardProductos .card-text {
  color: #e295a2;
  font-size: 2rem;
  font-weight: bold;
}
.cardProductos .imgProducto {
  height: 100%;
  margin-bottom: 10px;
}
.cardProductos .textProductos {
  font-size: 1.2rem;
}
.cardProductos .textProductos:hover {
  color: #e295a2;
}

@media (max-width: 576px) {
  .col-sm-6 {
    flex-basis: 50%;
  }
  .cardProductos {
    height: 50%;
    margin-top: 10px;
  }
  .cardProductos .textProductos {
    font-size: 14px;
  }
  .btnPro {
    font-size: 0.6rem;
    width: 100%;
  }
}
.imgQuienesSomos {
  width: 500px;
  height: 600px;
  border-radius: 5px;
  animation-duration: 2s;
}
@media (max-width: 1200px) {
  .imgQuienesSomos {
    width: 100%;
    height: 90%;
  }
}

.padreQs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}
@media (max-width: 1200px) {
  .padreQs {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.textQs {
  flex: 1;
  margin-right: 20px;
  font-size: 1.2rem;
}

.contQs {
  display: flex;
  flex-direction: column;
}

.destacar {
  color: #e96077;
  font-size: 1.3rem;
  font-weight: bold;
  animation-duration: 5s;
}

.contContacto {
  border: 3px solid #e295a2;
  background-color: white;
  margin: 20px;
  flex: 1;
}
.contContacto .contRs {
  margin-top: 20px;
}
.contContacto .contRs .imgRedes {
  margin-top: 5px;
}
.contContacto label {
  margin-bottom: 10px;
  text-align: left;
  font-size: 1.5rem;
}
.contContacto input {
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
}
.contContacto input:hover {
  border: 2px solid #e295a2;
}

.contSoporte {
  background-color: white;
}
.contSoporte .contParrafo {
  font-size: 1.2rem;
}

.botonCont {
  display: block;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  font-weight: bolder;
}

.textBlog {
  font-size: 1.2rem;
}

.contBlog {
  text-align: center;
  margin-top: 20px;
}

.card-text {
  color: #e295a2;
  font-size: 2rem;
  font-weight: bold;
}

.imgCarousel {
  height: 700x;
  object-fit: cover;
}

.listonHome {
  width: 100%;
  background-color: hsl(349, 37%, 61%);
  text-align: center;
}
.listonHome:hover {
  background-color: hsl(349, 37%, 58%);
}
.listonHome .textListon {
  color: white;
  font-size: textMd;
  font-weight: bold;
}
@media (max-width: 576px) {
  .listonHome .textListon {
    font-size: 0.7rem;
  }
}

.card {
  margin-top: 20px;
  border: solid white 1px;
}
.card .card-title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: #e295a2;
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 992px) {
  .card .card-title {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .card .botonColor, .card .btnPro, .card .botonCont {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .col-xl-3 {
    flex-basis: 50%;
  }
  .imgHome {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
