body {
  font-family: $fontPrincipal;
  background-color: $colorSecundario;
  @include flex(flex, column);
  align-items: center;
  transition: all 300ms ease-in-out;
}
header {
  background: linear-gradient(to left, $colorPrincipal, $colorSecundario);
  border-radius: 5px;
  font-size: 2rem;
  width: 100%;
  font-weight: bold;
  .logo {
    height: 80px;
    border-radius: 50%;
    @media (max-width: 989px) {
      height: 80px;
    }
  }
  .navLetra {
    color: $white;
    transition: 0.5s ease;
    font-size: 1.5rem;
    line-height: 1.7rem;
    &:hover {
      font-weight: bold;
      color: $colorSecundario;
      font-size: 1.8rem;
      border-bottom: 2px solid $colorSecundario;
    }
    @media (max-width: 992px) {
      color: $colorPrincipal;
      font-weight: bolder;
    }
  }
}
.textFooter {
  color: $colorPrincipal;
  font-size: 1rem;

  &:hover {
    color: $white;
    font-size: 1.3rem;
    background-color: $colorPrincipal;
  }
}

.cont404 {
  background-color: $colorPrincipal;
  width: 600px;
  height: 600px;
  text-align: center;

  h1 {
    @include font($colorSecundario, 10rem, bold);
  }
  p {
    font-size: $textMd;
    color: $colorSecundario;
  }
  .boton404 {
    background-color: $colorPrincipal;
    display: inline-block;
    width: 300px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    color: $white;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    &:hover {
      box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);
    }
  }
}
@media (max-width: 768px) {
  .cont404 {
    width: 300px;
    height: 400px;
    h1 {
      font-size: 5rem;
    }
    .boton404 {
      width: 150px;
      font-size: 0.5rem;
    }
  }
}

// BOTON DE BUSQUEDA

.nav-item__search {
  width: 300px;
  height: 40px;
  line-height: 4.5rem;
  border: 5px solid white;
}
.form-control {
  margin-top: 0.2rem;
  position: relative;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  padding-right: 2.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: white;
  border: 3px solid white;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  border: 0.2rem solid white;
}

.cont__search {
  position: relative;
  margin-left: 5rem;
}
.form__label {
  font-size: 1.2rem;
  position: absolute;
  top: -1.9rem;
  z-index: 1;
  transition: all 300ms ease-in-out;
  pointer-events: none;
  color: $colorSecundario;
}

.nav-item__search::-webkit-input-placeholder {
  color: transparent;
}

.cart-container {
  border: 3px solid white;
  border-radius: 5px;
  width: 25%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  display: none;
  background-color: white;
}

.cart-container--visible {
  display: block;
}
.navbar__toggler {
  text-align: center;
  position: relative;
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  background-color: $colorPrincipal;
  border: solid 3px $colorPrincipal;
  border-radius: 10px;
  color: $colorSecundario;
  box-shadow: 0 10px 10px -5px rgba(255, 255, 255, 0.8);
  text-align: center;
}
.fa-bag-shopping {
  font-size: 2.5rem;
}
.cart-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  padding-bottom: 0.3rem;
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  color: $colorPrincipal;
  border: 0;
}
.cart-cont__img {
  display: block;
  text-align: center;
  padding-top: 250px;
}
.cart__img {
  width: auto;
  opacity: 0.5;
}
.cart__text {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: gray;
}
.listonHome .textListon {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  padding-top: 0.3rem;
}
.nav-btn {
  position: absolute;
  background-color: transparent;
  right: 10px;
  top: 8px;
  width: 35px;
  height: 35px;
  border: 1px solid transparent;
  line-height: 0.7;
}
.icon__buscar {
  font-size: 1.7rem;
  color: $colorPrincipal;
}
.contador-carrito {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: $colorPrincipal;
  font-size: 1.5rem;
  font-weight: 300;
  vertical-align: middle;
}

.swal-custom-title {
  font-size: 2rem;
  color: $colorPrincipal;
  font-weight: 600;
}

.container__temp {
  border: 1px solid $colorPrincipal;
  margin: 2rem;
  width: 800px;
  text-align: center;
  background-color: white;
  height: auto;
  border-radius: 3rem;
}

.temp__titulo {
  font-size: 1.5rem;
  color: $colorPrincipal;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem;
}

.form__temp {
  padding-bottom: 1rem;
}
.city__input {
  font-size: 1.2rem;
  color: gray;
}

.input__city {
  color: $colorPrincipal;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10rem;
  border: 2px solid $colorSecundario;
  &:focus {
    border: 3px solid $colorPrincipal;
    outline: none;
  }
}

.btn__temp {
  width: 50px;
  height: 40px;
  background-color: $colorPrincipal;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: transform 0.2s ease;
  &:active {
    transform: translateY(2px);
  }
}

.icon__temp {
  color: white;
  font-size: 1.4rem;
}

.temp__resultado {
  padding-bottom: 2rem;
  font-size: 1.3rem;
  color: gray;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .site-header {
  background: #333333;
}

.cont__dark {
  position: fixed;
  top: 300px;
  left: 0;
  z-index: 1;
}

.btn__dark {
  background-color: $colorPrincipal;
  border: 2px solid $colorPrincipal;
  border-radius: 10px;
  width: 50px;
}

.icon__dark {
  color: white;
  font-size: 1.3rem;
  line-height: 1.5;
}

.dark-mode .contContacto {
  background-color: #333333;
}
