body {
  font-family: $fontPrincipal;
  background-color: $colorSecundario;
  @include flex(flex, column);
  align-items: center;
}
header {
  background: linear-gradient(to left, $colorPrincipal, $colorSecundario);
  border-radius: 5px;
  font-size: $textXl;
  width: 100%;
  font-weight: bold;
  .logo {
    height: 120px;
    border-radius: 50%;
    @media (max-width: 989px) {
      height: 80px;
    }
  }
  .navLetra {
    color: $white;
    transition: font-weight 0.5s ease, color 0.5s ease, font-size 0.5s ease,
      border-bottom 0.5s ease;

    &:hover {
      font-weight: bold;
      color: $colorSecundario;
      font-size: 2.2rem;
      border-bottom: 2px solid $colorSecundario;
    }
    @media (max-width: 992px) {
      color: $colorPrincipal;
      font-weight: bolder;
    }
  }
}
.textFooter {
  color: $colorPrincipal;
  font-size: 1rem;

  &:hover {
    color: $white;
    font-size: 1.3rem;
    background-color: $colorPrincipal;
  }
}

.cont404 {
  background-color: $colorPrincipal;
  width: 600px;
  height: 600px;
  text-align: center;

  h1 {
    @include font($colorSecundario, 10rem, bold);
  }
  p {
    font-size: $textMd;
    color: $colorSecundario;
  }
  .boton404 {
    background-color: $colorPrincipal;
    display: inline-block;
    width: 300px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    color: $white;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    &:hover {
      box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);
    }
  }
}
@media (max-width: 768px) {
  .cont404 {
    width: 300px;
    height: 400px;
    h1 {
      font-size: 5rem;
    }
    .boton404 {
      width: 150px;
      font-size: 0.5rem;
    }
  }
}
