body {
  font-family: $fontPrincipal;
  background-color: $colorSecundario;
  @include flex(flex, column);
  align-items: center;
}
header {
  background: linear-gradient(to left, $colorPrincipal, $colorSecundario);
  border-radius: 5px;
  font-size: 2rem;
  width: 100%;
  font-weight: bold;
  .logo {
    height: 80px;
    border-radius: 50%;
    @media (max-width: 989px) {
      height: 80px;
    }
  }
  .navLetra {
    color: $white;
    transition: 0.5s ease;
    font-size: 1.5rem;
    line-height: 1.7rem;
    &:hover {
      font-weight: bold;
      color: $colorSecundario;
      font-size: 1.8rem;
      border-bottom: 2px solid $colorSecundario;
    }
    @media (max-width: 992px) {
      color: $colorPrincipal;
      font-weight: bolder;
    }
  }
}
.textFooter {
  color: $colorPrincipal;
  font-size: 1rem;

  &:hover {
    color: $white;
    font-size: 1.3rem;
    background-color: $colorPrincipal;
  }
}

.cont404 {
  background-color: $colorPrincipal;
  width: 600px;
  height: 600px;
  text-align: center;

  h1 {
    @include font($colorSecundario, 10rem, bold);
  }
  p {
    font-size: $textMd;
    color: $colorSecundario;
  }
  .boton404 {
    background-color: $colorPrincipal;
    display: inline-block;
    width: 300px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    color: $white;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
    &:hover {
      box-shadow: 0 4px 10px rgba(255, 255, 255, 0.8);
    }
  }
}
@media (max-width: 768px) {
  .cont404 {
    width: 300px;
    height: 400px;
    h1 {
      font-size: 5rem;
    }
    .boton404 {
      width: 150px;
      font-size: 0.5rem;
    }
  }
}

// BOTON DE BUSQUEDA

.nav-item__search {
  width: 300px;
  height: 40px;
  line-height: 4.5rem;
  border: 5px solid white;
}
.form-control {
  margin-top: 0.2rem;
  position: relative;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: white;
  border: 3px solid white;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.nav-item__search:focus {
  border: 0.2rem solid white;
}
.nav-btn {
  width: 40px;
  height: 40px;
  padding-bottom: 0.3rem;
  font-size: 1.3rem;
  background-color: $colorPrincipal;
  border: solid 3px $colorPrincipal;
  border-radius: 10px;
  color: $colorSecundario;
  box-shadow: 0 10px 10px -5px rgba(255, 255, 255, 0.8);
}

.cont__search {
  position: relative;
  margin-left: 5rem;
}
.form__label {
  font-size: 1.2rem;
  position: absolute;
  top: 0.5rem;
  z-index: 1;
  color: var(--color-company);
  transition: all 300ms ease-in-out;
  pointer-events: none;
  color: $colorPrincipal;
}

.nav-item__search:focus ~ label,
.form__input:not(:placeholder-shown) ~ label {
  top: -2.3rem;
  left: 0;
  z-index: 1;
  font-size: 1.3rem;
  color: white;
}
.nav-item__search::-webkit-input-placeholder {
  color: transparent;
}

.cart-container {
  border: 3px solid $colorPrincipal;
  border-radius: 5px;
  width: 25%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  display: none;
  background-color: white;
}

.cart-container--visible {
  display: block;
}
.navbar__toggler {
  width: 40px;
  height: 40px;
  padding-bottom: 0.3rem;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  background-color: $colorPrincipal;
  border: solid 3px $colorPrincipal;
  border-radius: 10px;
  color: $colorSecundario;
  box-shadow: 0 10px 10px -5px rgba(255, 255, 255, 0.8);
}
.cart-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  padding-bottom: 0.3rem;
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  background-color: $colorPrincipal;
  border: solid 3px $colorPrincipal;
  border-radius: 10px;
  color: $colorSecundario;
}
.cart-cont__img {
  display: block;
  text-align: center;
  padding-top: 300px;
}
.cart__img {
  width: auto;
  opacity: 0.5;
}
.cart__text {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: gray;
}
.listonHome .textListon {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1;
  padding-top: 0.3rem;
}
