.contContacto {
  border: 3px solid $colorPrincipal;
  background-color: $white;
  margin: 20px;
  flex: 1;

  .contRs {
    margin-top: 20px;
    .imgRedes {
      margin-top: 5px;
    }
  }

  label {
    margin-bottom: 10px;
    text-align: left;
    font-size: $textMd;
  }

  input {
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
  }
}

.contSoporte {
  background-color: $white;
  .contParrafo {
    font-size: $textSm;
  }
}
.botonCont {
  @extend .botonColor;
  display: block;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-weight: bolder;
}
