.botonColor {
  font-size: $textMd;
  border: 3px solid $colorPrincipal;
  background-color: $colorPrincipal;
  color: white;
  text-transform: uppercase;

  &:hover {
    color: $white;
    background-color: rgb(250, 182, 194);
  }
}

.btnPro {
  @extend .botonColor;
  font-size: 1rem;
  width: 100%;
}
.tituloPro {
  @include font($white, $textXl, bold);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $colorPrincipal;
  width: 100%;
  border-radius: 5px;
  line-height: 1.9rem;
}
.cardProductos {
  border: $white solid 3px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;
  margin: 10px;
  width: 100%;

  &:hover {
    transform: scale(1.05);
    border: $colorPrincipal solid 1px;
  }
  .card-text {
    @include font($colorPrincipal, $textXl, bold);
  }
  .imgProducto {
    height: 100%;
    margin-bottom: 10px;
  }
  .textProductos {
    font-size: $textSm;
    &:hover {
      color: $colorPrincipal;
    }
  }
}
@media (max-width: 576px) {
  .col-sm-6 {
    flex-basis: 50%;
  }
  .cardProductos {
    height: 50%;
    margin-top: 10px;
    .textProductos {
      font-size: 14px;
    }
  }
  .btnPro {
    font-size: 0.6rem;
    width: 100%;
  }
}

.cardProductos {
  position: relative;
  &:hover .contenedor__tallas {
    opacity: 0.8;
  }
}

.contenedor__tallas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  background-color: white;
  height: 70px;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 120px;
  border-radius: 3px;
}

.contenedor__talla {
  width: 40px;
  height: 40px;
  border: 1px solid $colorPrincipal;
  border-radius: 100px;
  text-align: center;
  line-height: 2.2rem;
  font-weight: 500;
  color: $colorPrincipal;
  &:hover {
    background-color: $colorPrincipal;
    color: white;
  }
}
@media (max-width: 573px) {
  .contenedor__tallas {
    top: 100px;
  }
  .contenedor__talla {
    font-size: 1rem;
    width: 30px;
    height: 25px;
    line-height: 1.4rem;
  }
}
