.botonColor {
  font-size: $textMd;
  border: 3px solid $colorPrincipal;
  background-color: $colorPrincipal;
  color: white;
  text-transform: uppercase;

  &:hover {
    color: $colorPrincipal;
    background-color: $colorSecundario;
  }
}
.btnPro {
  @extend .botonColor;
  font-size: 1rem;
}
.tituloPro {
  @include font($white, $textXl, bold);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: $colorPrincipal solid 3px;
  background-color: $colorPrincipal;
  width: 100%;
  border-radius: 5px;
}
.cardProductos {
  border: $white solid 3px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.05);
    border: $colorPrincipal solid 1px;
  }
  .card-text {
    @include font($colorPrincipal, $textXl, bold);
  }
  .imgProducto {
    height: 100%;
    margin-bottom: 10px;
    object-fit: cover;
  }
}
@media (max-width: 579px) {
  .col-sm-6 {
    flex-basis: 50%;
  }
  .cardProductos {
    height: 50%;
    margin-top: 10px;
  }
  .imgProducto {
    height: 100%;
  }
  .textProductos {
    font-size: 15px;
  }
  .btnPro {
    font-size: 0.6rem;
    width: 100%;
  }
}
