@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import "_vars";
@import "_mixins";
@import "_commons";
@import "_productos";
@import "_quienessomos";
@import "_contacto";
@import "_blog";

//CAROUSEL HOME
.imgCarousel {
  height: 700x;
  object-fit: cover;
}
//LISTON HOME
.listonHome {
  width: 100%;
  background-color: hsl(349, 37%, 61%);
  text-align: center;
  font-size: $textMd;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: hsl(349, 37%, 58%);
  }
}

@media (min-width: 360px) and (max-width: 700px) {
  .listonHome {
    font-size: 0.7rem;
  }
}
//CARDS HOME
.card {
  margin-top: 20px;
  .card-title {
    font-size: $textXl;
    text-transform: uppercase;
    font-weight: bold;
    color: $colorPrincipal;
    display: flex;
    justify-content: center;
  }
  @media (max-width: 946px) {
    .card-title {
      font-size: 16px;
    }
  }

  .botonColor {
    font-size: $textMd;
    border: 3px solid $colorPrincipal;
    background-color: $colorPrincipal;
    color: white;
    text-transform: uppercase;
    @media (max-width: 880px) {
      font-size: 14px;
    }

    &:hover {
      color: $colorPrincipal;
      background-color: $colorSecundario;
    }
  }
}
@media (max-width: 579px) {
  .col-xl-3 {
    flex-basis: 50%;
  }
  .imgHome {
    width: 100%;
  }
}
