@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import "_vars";
@import "_mixins";
@import "_commons";
@import "_productos";
@import "_quienessomos";
@import "_contacto";
@import "_blog";

//CAROUSEL HOME
.imgCarousel {
  height: 700x;
  object-fit: cover;
}
//LISTON HOME
.listonHome {
  width: 100%;
  background-color: hsl(349, 37%, 61%);
  text-align: center;
  &:hover {
    background-color: hsl(349, 37%, 58%);
  }
  .textListon {
    @include font($white, textMd, bold);
    @media (max-width: 576px) {
      font-size: 0.7rem;
    }
  }
}

//CARDS HOME
.card {
  margin-top: 20px;
  border: solid $white 1px;

  .card-title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    @include font($colorPrincipal, $textXl, bold);
  }
  @media (max-width: 992px) {
    .card-title {
      font-size: 16px;
    }
  }
  .botonColor {
    @media (max-width: 992px) {
      font-size: 14px;
    }
  }
}
@media (max-width: 576px) {
  .col-xl-3 {
    flex-basis: 50%;
  }
  .imgHome {
    width: 100%;
  }
}
